.user-options {
  display: flex;
  align-items: center;

  &__language {
    margin-right: 50px;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      cursor: pointer;
      color: #4d4c66;
    }

    option {
      font-family: Rubik, serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      color: #000000;
    }
  }


  &__main {
    align-items: center;
    display: flex;

    button {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.options {
  &__search {
    margin-right: 50px;
  }

  &__hamburger {
    margin-left: 50px;
  }
}
