body {
    margin: 0;
    padding: 0
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) {
    .header__area {
        display: none !important
    }

    .options__search {
        margin-bottom: 50px !important;
        margin-right: 0 !important
    }

    .navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
        font-size: 40px !important;
        margin-right: 15px !important
    }

    .header__mobile-area {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 0 102px 0 152px
    }

    .logo {
        margin-top: 20px !important
    }

    .navigation {
        height: 80%;
        display: flex;
        flex-direction: column
    }

    .navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
        padding: 30px 0 30px 0;
        text-align: center
    }

    .user-options {
        height: 20%
    }

    .user-options__main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column
    }

    .user-options__language {
        margin-right: 0 !important;
        margin-bottom: 50px
    }
}

@media screen and (min-device-width: 420px) and (max-device-width: 1400px) {
    body {
        width: fit-content !important;
        overflow-x: hidden
    }

    .tour-routes__title {
        padding: 139px 0 107px 0 !important;
        text-align: center
    }

    .tour-routes__list {
        padding: 0 0 200px 0 !important
    }

    .main-page__image {
        height: 1030px !important
    }

    .about-page__description {
        font-size: 40px !important
    }

    .persons {
        padding: 135px 120px 138px 120px !important
    }

    .about-workers__title {
        text-align: center;
        padding: 145px 0 75px 0 !important
    }

    .worker:last-child {
        margin-right: 0 !important
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 419px) {
    html {
        width: 1500px !important
    }

    .user-options__language {
        font-size: 40px !important
    }

    .tour-routes__title {
        text-align: center;
        padding: 140px 0 110px 0 !important
    }

    .tour-routes__list {
        padding: 0 140px 200px 140px !important
    }

    .tour-route:first-child {
        margin-right: 10px !important
    }

    .tour-route {
        margin-right: 10px !important
    }

    .persons {
        padding: 140px !important
    }

    .about-workers__title {
        text-align: center;
        padding: 140px 0 75px 0 !important
    }

    .about-page {
        padding: 140px 290px 140px 290px !important
    }

    .main-page__image {
        height: 910px !important
    }

    .worker:last-child {
        margin-right: 0 !important
    }

    .hamburger-menu__slider {
        right: 250px !important
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
    .navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
        font-size: 30px !important;
        margin-right: 10px !important
    }

    .tour-routes__title {
        text-align: center;
        padding: 139px 0 107px 0 !important
    }

    .tour-routes__list {
        justify-content: center;
        padding: 0 0 50px 0 !important;
        align-items: center;
        flex-direction: column
    }

    .main-page__image {
        height: 590px !important
    }

    .tour-route:first-child, .tour-route:first-child {
        margin-bottom: 50px !important
    }

    .tour-route {
        margin-right: 0 !important;
        margin-bottom: 50px !important
    }

    .about-workers__information {
        padding: 0 !important
    }

    .persons {
        padding: 140px 40px 147px 40px !important
    }

    .about-workers__title {
        text-align: center;
        padding: 140px 0 110px 0 !important
    }

    .about-page {
        padding: 100px 40px 100px 40px !important
    }

    .about-page__title {
        font-size: 36px !important
    }

    .about-page__description {
        font-size: 22px !important
    }

    .header__navigation {
        padding: 0 40px 0 40px !important
    }

    .worker:last-child {
        margin-right: 0 !important
    }
}

.header {
    height: 135px;
    background-color: #fff9ee;
    position: fixed;
    left: 0;
    right: 0
}

.header__slider {
    padding: 15px 0 15px 0
}

.header__navigation {
    height: 120px;
    background-color: #fff9ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 102px 0 152px
}

.header__mobile-area {
    display: none
}

.slick-slider {
    padding: 0 40px 0 40px;
    height: 200px;
    background-color: rgba(1, 1, 1, 0.4)
}

.slick-list {
    height: 100%
}

.slick-track {
    width: 346px;
    opacity: 1;
    height: 100%;
    transform: translate3d(0px, 0px, 0px)
}

.slick-slide {
    outline: none;
    width: 346px;
    height: 100%;
    justify-content: center
}

.slick-slide img {
    display: block;
    height: 150px
}

.slick-active {
    outline: none;
    width: 318px;
    display: flex;
    justify-content: center;
    align-items: center
}

.slick-prev {
    left: 10px
}

.slick-next {
    right: 10px
}

.slick-initialized .slick-slide {
    display: flex;
    align-items: center
}

.logo {
    width: 100px;
    height: 114px;
    margin-top: 50px
}

.navigation {
    margin-left: 10px
}

.navigation__content {
    height: 100%
}

.navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    margin-right: 50px;
    color: #000000;
    cursor: pointer
}

.navigation__rout-link:last-child, .navigation__genius-link:last-child, .navigation__team-link:last-child, .navigation__souvenirs-link:last-child {
    margin-right: 0
}

.navigation__rout-link:hover, .navigation__genius-link:hover, .navigation__team-link:hover, .navigation__souvenirs-link:hover {
    color: #0000008f
}

.navigation__rout-link.active, .navigation__genius-link.active, .navigation__team-link.active, .navigation__souvenirs-link.active {
    color: red
}

.persons {
    padding: 36px 410px 138px 370px
}

.persons__right-person {
    justify-content: flex-end
}

.persons__right-person, .persons__left-person {
    display: flex;
    margin-bottom: 86px
}

.persons__list {
    display: flex
}

.person {
    display: flex;
    width: auto
}

.person__name {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #232323;
    margin-bottom: 24px
}

.person__about {
    width: 500px;
    height: 152px
}

.person__description {
    font-family: Lora, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #252525
}

.person-slider {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 20px
}

.about-page {
    padding: 138px 410px 146px 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25)
}

.about-page__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 850px;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
    text-align: center
}

.about-page__description {
    width: 885px;
    margin-top: 10px;
    font-family: Lora, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 160%;
    color: #252525
}

.about-workers {
    margin-bottom: 200px
}

.about-workers__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #232323;
    padding: 144px 657px 74px 657px
}

.about-workers__information {
    display: flex;
    flex-direction: column
}

.about-workers__first-line, .about-workers__second-line {
    display: flex;
    justify-content: center
}

.tour-route {
    text-decoration: none;
    margin-right: 50px
}

.tour-route:first-child {
    margin-right: 50px
}

.tour-route:last-child {
    margin: 0
}

.tour-route__image {
    margin-bottom: 100px
}

.tour-route__name, .tour-route__description {
    font-family: Lora, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #E4E4E4
}

.tour-route-slide {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none
}

.tour-routes {
    background: #232323;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25)
}

.tour-routes__title {
    padding: 139px 647px 107px 647px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    line-height: 57px;
    color: #FFF9EE
}

.tour-routes__list {
    display: flex;
    justify-content: center;
    padding: 0 252px 200px 256px
}

.worker {
    margin-right: 63px
}

.worker__image {
    margin-bottom: 40px
}

.worker__scope {
    margin-bottom: 48px
}

.worker__name, .worker__scope {
    display: flex;
    justify-content: center;
    font-family: Lora, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000
}

.worker-slide {
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 20px
}


.sidebar {
    position: relative;
    z-index: 2
}

.sidebar__content {
    display: flex !important;
    margin: 0;
    padding: 0;
    width: 23%;
    background-color: rgba(182, 222, 211, 0.8);
    right: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    bottom: 0;
    flex-direction: column
}

.sidebar__content a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 16px;
    text-decoration: none;
    height: 21%
}

.sidebar__content a:first-child {
    margin-top: 130px
}

.sidebar__content a.active {
    background-color: rgba(182, 222, 211, 0.8);
    color: white
}

.sidebar__content a:hover:not(.active) {
    background-color: #555;
    color: white
}

.sidebar__show-button {
    position: relative;
    z-index: 2
}

.user-options {
    display: flex;
    align-items: center
}

.user-options__language {
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.user-options__language:hover {
    cursor: pointer;
    color: #0000008f
}

.user-options__language option {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    background-color: #fff9ee
}

.user-options__main {
    align-items: center;
    display: flex
}

.user-options__main button {
    background: transparent;
    border: none;
    outline: none
}

.options__search {
    margin-right: 50px
}

.options__hamburger {
    margin-left: 50px
}

.main-page__image {
    background-image: url(./images/Grodno_panorama-6r.jpg);
    height: 1020px;
    background-size: contain;
    background-repeat: no-repeat
}

@media screen and (min-width: 1700px) {
    .main-page__image {
        background-size: cover
    }
}

.route-room {
    padding-top: 140px
}

.route-room__picture {
    position: relative;
    z-index: -2
}

.route-room__info {
    padding-left: 90px;
    width: 750px;
    height: 152px
}

.route-room__main-picture {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 202px
}

.route-room__room-info {
    display: flex;
    padding: 0 190px 0 190px
}

.route-room__description {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 30px
}

.route-room__about-room {
    font-family: Lora, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #252525
}

