.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: end;

  &__content {
    position: absolute;
    right: 15px;
    top: 100px;
    background-color: rgba(214, 94, 19, 0.9);
    padding: 10px 40px 10px 40px;
  }

  &__button {
    display: flex;
    padding: 10px;
  }

  &__slider {
    position: absolute;
    right: 220px;
    top: 180px;
    left: 0;
  }
}
