.main-page {
  &__image {
    height: 1020px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__rootImg{
    max-width: -webkit-fill-available;
    width: auto !important;
  }
}

@media screen and (min-width: 1700px){
  .main-page__image{
    background-size: cover;
  }
}
