.header {
  &__navigation {
    .navigation {
        margin-left: 155px;
      &__link {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 23px;
        text-decoration: none;
        margin-right: 50px;
        color: #000000;
        &:last-child {
          margin-right: 0;
        }
        &:hover{
          color: #0000008f;
        }
      }

    }
  }
}
