.navigation {
  margin-left: 10px;

  &__content{
    height: 100%;
  }

  &__rout-link, &__genius-link, &__team-link, &__souvenirs-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    margin-right: 50px;
    color: #000000;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #0000008f;
    }

    &.active{
      color: red;
    }
  }

}
