body {
  margin: 0;
  padding: 0;
}

.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__elements{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .header__area {
    display: none !important;
  }

  .options__search {
    margin-bottom: 50px !important;
    margin-right: 0 !important;
  }

  .navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
    font-size: 40px !important;
    margin-right: 15px !important;
  }

  .header__mobile-area {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 102px 0 152px;
  }
  .logo {
    margin-top: 20px !important;
  }

  .navigation {
    height: 80%;
    display: flex;
    flex-direction: column;

    &__rout-link, &__genius-link, &__team-link, &__souvenirs-link {
      padding: 30px 0 30px 0;
      text-align: center;
    }
  }

  .user-options {
    height: 20%;

    &__main {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__language {
      margin-right: 0 !important;
      margin-bottom: 50px;
    }
  }
}

@media screen and (min-device-width: 420px) and (max-device-width: 1400px) {
  body {
    width: fit-content !important;
    overflow-x: hidden;
  }
  .tour-routes__title {
    padding: 139px 0 107px 0 !important;
    text-align: center;
  }
  .tour-routes__list {
    padding: 0 0 200px 0 !important;
  }
  .main-page__image {
    height: 1030px !important;
  }
  .about-page__description {
    font-size: 40px !important;
  }
  .persons {
    padding: 135px 120px 138px 120px !important;
  }
  .about-workers__title {
    text-align: center;
    padding: 145px 0 75px 0 !important;
  }
  .worker:last-child {
    margin-right: 0 !important;
  }

}

@media screen and (min-device-width: 375px) and (max-device-width: 419px) {
  html {
    width: 1500px !important;
  }
  .user-options__language {
    font-size: 40px !important;
  }

  .tour-routes__title {
    text-align: center;
    padding: 140px 0 110px 0 !important;
  }
  .tour-routes__list {
    padding: 0 140px 200px 140px !important;
  }
  .tour-route:first-child {
    margin-right: 10px !important;
  }
  .tour-route {
    margin-right: 10px !important;
  }
  .persons {
    padding: 140px !important;
  }
  .about-workers__title {
    text-align: center;
    padding: 140px 0 75px 0 !important;
  }
  .about-page {
    padding: 140px 290px 140px 290px !important;
  }
  .main-page__image {
    height: 910px !important;
  }
  .worker:last-child {
    margin-right: 0 !important;
  }
  .hamburger-menu__slider {
    right: 250px !important;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .navigation__rout-link, .navigation__genius-link, .navigation__team-link, .navigation__souvenirs-link {
    font-size: 30px !important;
    margin-right: 10px !important
  }
  .tour-routes__title {
    text-align: center;
    padding: 139px 0 107px 0 !important;
  }
  .tour-routes__list {
    justify-content: center;
    padding: 0 0 50px 0 !important;
    align-items: center;
    flex-direction: column;
  }
  .main-page__image {
    height: 590px !important;
  }
  .tour-route:first-child, .tour-route:first-child {
    margin-bottom: 50px !important;
  }
  .tour-route {
    margin-right: 0 !important;
    margin-bottom: 50px !important;
  }
  .about-workers__information {
    padding: 0 !important;
  }
  .persons {
    padding: 140px 40px 147px 40px !important;
  }
  .about-workers__title {
    text-align: center;
    padding: 140px 0 110px 0 !important;
  }
  .about-page {
    padding: 100px 40px 100px 40px !important;
  }
  .about-page__title {
    font-size: 36px !important;
  }
  .about-page__description {
    font-size: 22px !important;
  }
  .header__navigation {
    padding: 0 40px 0 40px !important;
  }
  .worker:last-child {
    margin-right: 0 !important;
  }
}
